/* Main styles */
h1{
    /*font-family: 'Comfortaa', cursive;*/
    /*font-family: 'PT Serif', serif;*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.5em;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.0em;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9em;
}
h5{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.8em;
    margin-bottom: 40px;
}
ul{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}
p{
    font-family: 'Open Sans', sans-serif;
}
/* Top nav */
#top-nav{
    box-shadow: 2px 1px 5px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    background: #fff;
    display: none;
}
.top-nav-block{
    height: 60px;
}
.nav-logo{
    margin-top: 5px;
}
.top-right-nav{
    margin-top: 15px;
}
/* Right nav */
#right-nav{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 9;
    display: none;
}
.right-nav-block{
    height: 100%;
    background: #fff;
    box-shadow: -1px -1px 5px rgba(0,0,0,.3);
    position: relative;
    right: -1000px;
    overflow: auto;
}
.right-nav-angle{
    margin-top: 20px;
}
.right-nav-logo{
    margin-top: 15px;
}
.right-nav-links{
    margin-top: 20px;
}
.right-nav-links a{
    color: #777;
    font-size: 18px;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}
.right-nav-links a:hover{
    text-decoration: none;
    color: #673ab7;
}
/* Header */
.header{
    background-image: url("../images/top-screen.png");
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    height: 1100px;
}
.logo{
    margin-top: 20px;
}
.right-nav{
    margin-top: 60px;
}
.slogan{
    position: absolute;
    top: 45%;
    left: 10%;
}
.mouse{
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -50px;
}
/*Services*/
#services{
    margin-top: 30px;
}
.service-block{
    margin-bottom: 40px;
}
.service-block-item{
    height: 480px;
    background: #f1f2f5;
    padding: 10px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
}
.service-block-item img{
    margin-top: 20px;
    display: inline;
}
.service-block-item h3{
    margin-bottom: 0px;
    font-size: 22px;
}
.service-block-item ul li{
    font-size: 16px;
    height: 65px;
    margin-top: 5px;
}
.service-block-item ul li i{
    padding-right: 10px;
}
.service-block-item button{
    margin-top: 10px;
}
/* Slogan block*/
.slogan-block{
    height: 200px;
    margin: 100px 0 30px 0;
    position: relative;
}
.slogan-block h1{
    line-height: 170px;
    color: #fff;
    font-style: normal;
}
.slogan-block button{
    margin-top: 65px;
    transition: all 0.2s ease;
}
.slogan-mouse{
    position: absolute;
    width: 80px;
    height: 80px;
    background:  url("../images/mouse-w.png") center no-repeat, #7d7d7f;
    border-radius: 50%;
    /*border: 1px solid #000;*/
    left: 50%;
    top: -40px;
    margin-left: -40px;
    z-index: 3;
}
.slogan-mouse:before{
    content: '';
    width: 94px;
    height: 94px;
    border: 7px solid rgba(0,0,0,.3);
    position: absolute;
    border-radius: 50%;
    z-index: 2;
    left: -7px;
    top: -7px;
}
/* How to work*/
.work-block-odd, .work-block-even{
    height: 200px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
    padding: 10px;
    margin-bottom: 40px;
    position: relative;
}
.work-block-odd{
    background: #f1f2f5;
}
.work-block-odd img, .work-block-even img{
    margin-top: 40px;
}
.work-block-odd h3{
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 22px;
}
.work-block-odd p{
    margin-left: 100px;
    font-size: 16px;
}
.work-block-even h3{
    margin-bottom: 20px;
    font-size: 22px;
}
.work-block-even p{
    font-size: 16px;
    padding-right: 40px;
}
.work-label{
    position: absolute;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}
.work-block-odd .work-label{
    top: 0;
    left: 0;
}
.work-block-even .work-label{
    top: 0;
    right: 0;
}
.work-label.first{
    background-image: url("../images/wn1.png");
}
.work-label.second{
    background-image: url("../images/wn2.png");
}
.work-label.third{
    background-image: url("../images/wn3.png");
}
.work-label.fourth{
    background-image: url("../images/wn4.png");
}
.work-label.fifth{
    background-image: url("../images/wn5.png");
}
.work-label.sixth{
    background-image: url("../images/wn6.png");
}
/* Team */
.team-block{
    margin-bottom: 40px;
}
.team-block-item{
    height: 550px;
    background: #f1f2f5;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
    transition: all 0.2s ease;
}
.team-photo{
    width: 100%;
    height: 350px;
}
.team-photo.first{
    background: url("../images/t3.jpg") no-repeat top center;
    background-size: 100%;
}
.team-photo.second{
    background: url("../images/t1.jpg") no-repeat top center;
    background-size: 100%;
}
.team-photo.third{
     background: url("../images/t2.jpg") no-repeat top center;
     background-size: 100%;
 }
.team-photo.fifth{
    background: url("../images/t5.jpg") no-repeat top center;
    background-size: 100%;
}
.team-photo.fourth{
    background: url("../images/t4.jpg") no-repeat top center;
    background-size: 100%;
}
.team-photo.sixth{
    background: url("../images/t6.jpg") no-repeat top center;
    background-size: 100%;
}
.team-photo + img{
    display: block;
    position: absolute;
    top: 5px;
    left: 20px;
    opacity: 0;
}
.team-social{
    margin-top: 15px;
    text-align: center;
}
.team-social a{
    display: inline-block;
    width: 41px;
    height: 41px;
    margin: 0 5px;
}
.team-social .team-vk{
    background: url("../images/vk.png");
}
.team-social .team-fb{
    background: url("../images/fb.png");
}
.team-social .team-ig{
    background: url("../images/ig.png");
}
.team-social .team-in{
    background: url("../images/in.png");
}
.team-content h4{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.team-content h5{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
.team-block-item:hover{
    background: #673ab7;
}
.team-block-item:hover .team-photo{
    width: 100%;
    height: 350px;
}
.team-block-item:hover .team-photo.first{
    background: url("../images/t3-h.jpg") no-repeat top center;
    background-size: 100%;
}
.team-block-item:hover .team-photo.second{
    background: url("../images/t1-h.jpg") no-repeat top center;
    background-size: 100%;
}
.team-block-item:hover .team-photo.third{
     background: url("../images/t2-h.jpg") no-repeat top center;
     background-size: 100%;
}
.team-block-item:hover .team-photo.fourth{
    background: url("../images/t4-h.jpg") no-repeat top center;
    background-size: 100%;
}
.team-block-item:hover .team-photo.fifth{
    background: url("../images/t5-h.jpg") no-repeat top center;
    background-size: 100%;
}
.team-block-item:hover .team-photo.sixth{
    background: url("../images/t6-h.jpg") no-repeat top center;
    background-size: 100%;
}
.team-block-item:hover .team-photo + img{
    opacity: 1;
}
.team-block-item:hover h4, .team-block-item:hover h5, .team-block-item:hover p{
    color: #fff;
}
.team-block-item:hover .team-social .team-vk{
    background: url("../images/vk-h.png");
}
.team-block-item:hover .team-social .team-fb{
    background: url("../images/fb-h.png");
}
.team-block-item:hover .team-social .team-ig{
    background: url("../images/ig-h.png");
}
.team-block-item:hover .team-social .team-in{
    background: url("../images/in-h.png");
}
/* Portfolio */
.portfolio-block{
    margin-bottom: 40px;
}
.portfolio-block-item{
    height: 540px;
    background: #f1f2f5;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
}
.portfolio-photo{
    width: 100%;
    height: 250px;
    border-bottom: 5px solid #ac96d6;
}
.portfolio-photo.first{
    background: url("../images/p1.jpg") no-repeat top center;
    background-size: 100%;
    transition: all 0.2s ease;
}
.portfolio-photo.second{
    background: url("../images/p2.jpg") no-repeat top center;
    background-size: 100%;
    transition: all 0.2s ease;
}
.portfolio-photo.third{
    background: url("../images/p3.jpg") no-repeat top center;
    background-size: 100%;
    transition: all 0.2s ease;
}
.portfolio-project-info{
    position: absolute;
    right: 40px;
    top: 20px;
    color: #fff;
    text-align: right;
}
.portfolio-project-info h3{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}
.portfolio-rec-photo{
    position: absolute;
    border: 2px solid #fff;
    border-radius: 50%;
    top: 210px;
    left: 40px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
}
.portfolio-project-rec{
    margin-top: 40px;
    margin-left: 30px;
}
.portfolio-project-rec h3{
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 5px;
}
.portfolio-project-rec-text{
    margin: 20px 30px 20px 30px;
    height: 100px;
}
.portfolio-block-item:hover .portfolio-photo.first{
    background: url("../images/p1-h.jpg") no-repeat top center;
    background-size: 100%;
}
.portfolio-block-item:hover .portfolio-photo.second{
    background: url("../images/p2-h.jpg") no-repeat top center;
    background-size: 100%;
}
.portfolio-block-item:hover .portfolio-photo.third{
    background: url("../images/p3-h.jpg") no-repeat top center;
    background-size: 100%;
}
.portfolio-block-item:hover .portfolio-project-info{
    opacity: 0;
}
/* Contacts */
.contacts-left{
    margin-top: 40px;
 }
.contacts-left h2{
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: bold;
}
.contacts-info{
    /*height: 80px;*/
    margin-bottom: 15px;
    display: inline-block;
}
.contacts-info p{
    color: #673ab7;
    font-size: 18px;
}
.contacts-info i{
    color: #673ab7;
}
.contacts-socials a{
    float: left;
    margin-right: 10px;
    display: block;
    width: 41px;
    height: 41px;
    transition: all 0.2s ease;
}
.contacts-vk{
    background: url("../images/vk-c.png");
}
.contacts-vk:hover{
    background: url("../images/vk-c-h.png");
}
.contacts-fb{
    background: url("../images/fb-c.png");
}
.contacts-fb:hover{
    background: url("../images/fb-c-h.png");
}
.contacts-ig{
    background: url("../images/ig-c.png");
}
.contacts-ig:hover{
    background: url("../images/ig-c-h.png");
}
.contacts-in{
    background: url("../images/in-c.png");
}
.contacts-in:hover{
    background: url("../images/in-c-h.png");
}
.contacts-right{
    margin-top: 40px;
    position: relative;
    z-index: 2;
}
.send-form{
    background: #f1f2f5;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
    transition: all 0.2s ease;
    padding: 30px;
}
.send-form label{
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}
.send-form input, .send-form textarea{
    border-color: #673ab7;
    padding: 20px;
    border-radius: 0;
    transition: all 0.2s ease;
    box-shadow: none;
}
.send-form input:focus, .send-form textarea:focus{
    box-shadow: 0 0 5px #673ab7;
    border-color: #8f66d9;
}
.send-form .btn{
    width: 100%;
}
/* Footer */
.footer-block{
    background: #673ab7;
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
    margin-top: -100px;
}
.footer-logo{
    margin-top: 50px;
}
.footer-about{
    margin-top: 30px;
    color: #fff;
}
.footer-copyright{
    margin-top: 220px;
    color: #fff;
    text-transform: uppercase;
}
.go-top{
    position: absolute;
    right: 30px;
    bottom: 50px;
    text-align: center;
}
.go-top a{
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    line-height: 52px;
    transition: all 0.2s ease;
}
.go-top a:hover{
    background: #fff;
    color: #673ab7;
}

/* Others */
.main{
    color: #01579b;
}
.second{
    color: #919191;
}
.purple{
    color: #8f66d9;
}
.btn-purple{
    background-color: #8f66d9;
    color: #fff;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 7px;
    border-bottom: 2px solid #7c55c4;
    transition: all 0.2s ease;
}
.btn-purple:hover{
    color: #fff;
    background: #673ab7;
    border-bottom: 2px solid #44156d;
}
.btn-free-consul{
    background: transparent;
    border: 2px solid #fff;
    border-radius: 7px;
    color: #fff;
    padding: 10px 30px;
    font-size: 16px;
    margin-top: 65px;
 }
.btn-free-consul span{
    text-transform: uppercase;
}
.btn-free-consul:hover{
    background: #fff;
    color: #333;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
